@use "../01-abstracts/" as *;

.content {
    margin-bottom: 111px;

    @include breakpoint($md){
        margin-bottom: 142px;
    }

    &__img-container {
        display: flex;
        position: relative;
        gap: $margin-sm;
        width: 100vw;
        left: calc(($margin-sm + 22px) * (-1));
        margin-bottom: 75px;

        @include breakpoint($md) {
            gap: 30px;
            width: 100%;
            left: 0;
            margin-bottom: 72px;
        }
    }

    &__img-1 {
        max-width: 129px;
        position: relative;

        @include breakpoint($md){
            max-width: 214px;
        }

        @include breakpoint($lg){
            max-width: 255px;
        }

        & img {
            border-radius: 20px;
        }

        ::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            mix-blend-mode: multiply;
            background-color: var(--color-btn-1);
            border-radius: 20px;
        }
    }

    &__img-2 {
        max-width: 220px;

        @include breakpoint($md){
            max-width: 445px;
        }

        & img {
            border-radius: 20px;
        }
    }

    &__content {
        text-align: center;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: 24px;
        
        @include breakpoint($md){
            text-align: left;
            flex-direction: row;
            justify-content: space-between;
            gap: 36px;
        }
    }

    &__h {
        max-width: 255px;
    }

    &__p {
        max-width: 398px;
    }
}
