@use "../01-abstracts/" as *;

.hero {
    margin-bottom: 24px;

    &__content {
        margin-bottom: 64px;
    }

    &__h {
        margin-bottom: 32px;
    }

    &__p {
        margin-bottom: 32px;
    }

    &__footer {
        display: flex;
        align-items: center;
        gap: 32px;
    }

    &__img {
        position: relative;
        
        & img {
            border-radius: 20px;
            max-width: none;
            // width: 372px;
            width: clamp(100px, 100vw, 375px)
        }
    }
}
