@use "../01-abstracts/" as *;

.wrapper {
    padding: 23px $margin-sm 50px;

    @include breakpoint($md) {
        padding: 40px $margin-md 43px calc($margin-md - 1px);
    }

    @include breakpoint($md-lg) {
        max-width: 1110px;
        margin: auto;
    }

    @include breakpoint($x-lg) {
        padding: 55px 0 39px;
    }
}
