/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --color-font-1: #162542;
  --color-font-2: #7b8bad;
  --color-font-3: #fff;
  --color-btn-1: #f16718;
  --color-btn-1--hover: #ff9b62;
  --color-btn-2: #e8eff2;
  --color-btn-2--hover: #162542;
  --color-bg: #fff;
}

body {
  background-color: var(--color-bg);
  padding: 23px 24px 50px;
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  display: block;
  width: 100%;
  height: auto;
}

svg {
  fill: currentColor;
}

body {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  color: var(--color-font-2);
  font-size: 1rem;
  line-height: 26px;
}

h1,
h2,
h3 {
  font-weight: 900;
  text-transform: uppercase;
  color: var(--color-font-1);
}

h1 {
  font-size: 2.375rem;
  line-height: 1;
}
@media (min-width: 320px) {
  h1 {
    font-size: 3rem;
  }
}
@media (min-width: 640px) {
  h1 {
    font-size: 3.5rem;
  }
}

h2 {
  font-size: 2rem;
  line-height: 36px;
}

h3 {
  font-size: 1.5rem;
  line-height: 28px;
}

button {
  font-weight: 700;
  font-family: "Barlow", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  color: var(--color-font-1);
}

b {
  text-transform: uppercase;
  font-weight: 700;
}

.btn-1 {
  border-radius: 8px;
  border: none;
  width: 100%;
  padding: 11px 14.5px 11px 13.5px;
  max-width: 150px;
  cursor: pointer;
  transition: 0.2s ease;
  line-height: 26px;
  background-color: var(--color-btn-1);
  color: var(--color-font-3);
}
@media (min-width: 640px) {
  .btn-1 {
    padding: 16px 27px 16px 26px;
    max-width: 175px;
  }
}
.btn-1:hover {
  background-color: var(--color-btn-1--hover);
}

.btn-2 {
  border-radius: 8px;
  border: none;
  width: 100%;
  padding: 11px 14.5px 11px 13.5px;
  max-width: 150px;
  cursor: pointer;
  transition: 0.2s ease;
  line-height: 26px;
  background-color: var(--color-btn-2);
  color: var(--color-font-1);
}
@media (min-width: 640px) {
  .btn-2 {
    padding: 16px 27px 16px 26px;
    max-width: 175px;
  }
}
.btn-2:hover {
  background-color: var(--color-btn-2--hover);
  color: var(--color-font-3);
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}

.main {
  margin-bottom: 96px;
}

.hero {
  margin-bottom: 24px;
}
.hero__content {
  margin-bottom: 64px;
}
.hero__h {
  margin-bottom: 32px;
}
.hero__p {
  margin-bottom: 32px;
}
.hero__footer {
  display: flex;
  align-items: center;
  gap: 32px;
}
.hero__img {
  border-radius: 20px;
  width: 372px;
  max-width: none;
}

.content {
  margin-bottom: 111px;
}
.content__img-container {
  display: flex;
  position: relative;
  gap: 24px;
  width: 100vw;
  left: -46px;
  margin-bottom: 75px;
}
.content__img-1 {
  width: 129px;
  position: relative;
}
.content__img-1 img {
  border-radius: 20px;
}
.content__img-1 ::after {
  content: "test";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  mix-blend-mode: multiply;
  background-color: var(--color-btn-1);
  border-radius: 20px;
}
.content__img-2 {
  border-radius: 20px;
  width: 220px;
}
.content__content {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.content__h {
  max-width: 255px;
  margin-bottom: 24px;
}

/*# sourceMappingURL=style.css.map */
