@use "./functions" as *;

// Colors
:root {
    --color-font-1: #162542;
    --color-font-2: #7b8bad;
    --color-font-3: #fff;
    --color-btn-1: #f16718;
    --color-btn-1--hover: #ff9b62;
    --color-btn-2: #e8eff2;
    --color-btn-2--hover: #162542;
    --color-bg: #fff;
}

// Breakpoints
$sm: 320px;
$md: 640px;
$lg: 960px;
$x-lg: 1024px;
